.proposal {
  max-width: min(96vw, 768px);
  overflow: auto;
}

.proposal h1,
.proposal h2,
.proposal h3,
.proposal h4,
.proposal a,
.proposal p {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.proposal h1,
.proposal h2,
.proposal h3,
.proposal h4 {
  font-family: 'Garamond', serif;
}

.proposal h1,
.proposal h2 {
  font-size: 24px;
}

.proposal h3 {
  font-size: 20px;
}

.proposal h4 {
  font-size: 18px;
}

.proposal a {
  text-decoration: underline;
  cursor: pointer;
}

.proposal a:hover {
  opacity: 0.75;
}

.proposal a:active {
  opacity: 0.65;
}

.proposal ol,
.proposal ul {
  padding-left: 1rem;
}

.proposal ul {
  list-style: disc;
}

.proposal ol {
  list-style: decimal;
}

.proposal li {
  padding-left: 1rem;
  margin-top: 0.6rem;
}

.proposal pre {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.04);
  overflow-x: hidden;
}

.proposal img {
  display: none;
}

.proposal table th,
.proposal table td {
  padding: 0.2rem 0.5rem;
}
