@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-nowrap {
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: visible;
  }
}

/*
Normalization
=============
*/
a {
  outline: none;
}

/*
Responsiveness
==============
*/
@media only screen and (max-width: 479px) {
  /* phones */
  html {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 359px) {
  /* small phones */
  html {
    font-size: 0.8rem;
  }
}

/* 
Scrollbar Overrides
===================
*/

body {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

/* phones */
@media only screen and (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}

/* 
Input Overrides
===================
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* 
Common animations
=================
*/

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bounce-and-spin {
  animation: bounce-and-spin 4s infinite;
}

@keyframes bounce-and-spin {
  0%,
  100% {
    translate: 0 0px 0;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  0%,
  5% {
    --webkit-transform: rotateX(0) rotateY(0deg) skewX(0) skewY(0);
    transform: rotateX(0) rotateY(0deg) skewX(0) skewY(0);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  50% {
    translate: 0 -0.5rem 0;
    opacity: 0.6;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50.1% {
    --webkit-transform: rotateX(0) rotateY(-180deg) skewX(0) skewY(0);
    transform: rotateX(0) rotateY(-180deg) skewX(0) skewY(0);
    opacity: 0.6;
    animation-timing-function: linear;
  }
  95%,
  100% {
    --webkit-transform: rotateX(0) rotateY(-360deg) skewX(0) skewY(0);
    transform: rotateX(0) rotateY(-360deg) skewX(0) skewY(0);
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

/*
Toasts
======
*/
:root {
  --toastify-color-light: #ffffff;
  --toastify-color-dark: #2e3338;
  --toastify-color-info: #3498db;
  --toastify-color-success: #56df7c;
  --toastify-color-warning: #fcd34d;
  --toastify-color-error: #e70532;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 300px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: Roboto, sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #2e3338;
  --toastify-text-color-dark: #fff;

  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}
