name: Check for events

on:
  schedule:
    - cron: '0 * * * *' # Runs every hour

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            **/node_modules
            .yarn/cache
          key: ${{ runner.os }}-yarn-cache-${{ hashFiles('./yarn.lock') }}

      - name: yarn-install
        # Check out the lockfile from main, reinstall, and then
        # verify the lockfile matches what was committed.
        run: |
          yarn install --immutable
          CHANGES=$(git status -s)
          if [[ ! -z $CHANGES ]]; then
            echo "Changes found: $CHANGES"
            git diff
            exit 1
          fi
    
  fetch-historical-events:
    runs-on: ubuntu-latest
    needs: [install]
    #these are intentionally sequential so as not to send to many simultanious requests to rpc provider. 
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            **/node_modules
            .yarn/cache
          key: ${{ runner.os }}-yarn-cache-${{ hashFiles('./yarn.lock') }}

      - name: backfill-db
        run: yarn backfill-db
        env:
          PRIVATE_NO_RATE_LIMITED_NODE: ${{ secrets.PRIVATE_NO_RATE_LIMITED_NODE }}
          POSTGRES_URL: ${{ secrets.POSTGRES_URL }}
          IS_PRODUCTION_DATABASE: true
          CI: true
      - name: backfill-approval-confirmations
        run: yarn backfill-approvals
        env:
          PRIVATE_NO_RATE_LIMITED_NODE: ${{ secrets.PRIVATE_NO_RATE_LIMITED_NODE }}
          POSTGRES_URL: ${{ secrets.POSTGRES_URL }}
          IS_PRODUCTION_DATABASE: true
          CI: true
      - name: backfill-db-staging
        run: yarn backfill-db 
        env:
          PRIVATE_NO_RATE_LIMITED_NODE: ${{ secrets.PRIVATE_NO_RATE_LIMITED_NODE }}
          POSTGRES_URL: ${{ secrets.POSTGRES_URL_STAGING }}
          IS_PRODUCTION_DATABASE: false
          CI: true
      - name: backfill-approval-confirmations-staging
        run: yarn backfill-approvals 
        env:
          PRIVATE_NO_RATE_LIMITED_NODE: ${{ secrets.PRIVATE_NO_RATE_LIMITED_NODE }}
          POSTGRES_URL: ${{ secrets.POSTGRES_URL_STAGING }}
          IS_PRODUCTION_DATABASE: false
          CI: true

